@font-face {
    font-family: 'ThreadsMonoStencil';
    src: url(../font/ThreadsMonoStencil.ttf);
    font-weight: 1 999;
}

@font-face {
    font-family: 'ThreadsMonoPlain';
    src: url(../font/ThreadsMonoPlain.ttf);
    font-weight: 1 999;
}

@keyframes myAnim {
    0% {font-variation-settings: "wght" 20; }
    50% {font-variation-settings: "wght" 180;}
    100% {font-variation-settings: "wght" 20;}
} 

html {
    font-size: 20px;
    font-family: ThreadsMonoStencil;
    min-height: 100%;
}

pre {
    display: none;
}

p {
    margin: 0;
    margin-bottom: 1.2em;
    padding: 0;
}

ul#artist-names {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#artist-names li {
    display: inline-block;
    margin: 0;
    margin-top: 1.2em;
    padding: 0;
    width: 22ch;
    vertical-align: top;
}

ul#artist-info {
    list-style: none;
    margin: 0;
    margin-top: 1.2em;
    margin-left: 2ch;
    padding: 0;
}

ul#artist-info li {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 47ch;
    vertical-align: top;
}

ul#about-thread-grid {
    list-style: none;
    margin: 0 0 7.2em 0;
    padding: 0;
}

#about-thread-grid li {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 34ch;
    vertical-align: top;
}

#about-thread-grid li span{
    display: block;
}

ul#timings-grid {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#timings-grid li {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 22ch;
    vertical-align: top;
}

ul#workshop-info {
    list-style: none;
    padding-left: 3ch;
    max-width: 60ch;
}

ul#workshop-info li:before {
    content: "\2014\00a0";
    margin-left: -2ch;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    font-variation-settings: "wght" 40;
    background-color: rgba(10, 0, 30, 1);
    color: rgba(189,228,250,1);

}

.border {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: inherit;
    -moz-font-feature-settings: "case" on;
    -ms-font-feature-settings: "case" on;
    -o-font-feature-settings: "case" on;
    -webkit-font-feature-settings: "case" on;
    font-feature-settings: "case" on;
}

.border#border-right {
    padding-right: 2ch;
}

.ascii.header, .ascii.footer {
    white-space: pre;
    margin: 0;
    padding: 0;
    left: 0ch;
    background-color: inherit; 
    z-index: 1000;
}

.ascii.footer {
    position:absolute;
    margin-top: 2.4em;
    width: 100%;
    white-space: normal;
}
.ascii.footer div {
    display: inline-block;
}

div#header-text {
    display: inline;
    position: relative;
    left: 2ch;
    top: calc(1.2em * 1);
    white-space: pre;
    padding:0;
    z-index: 999;
}

#working-for-you {
    display: block;
    white-space: normal;
}

.ascii.header div#header-text:hover a {
    opacity: 1;
    font-variation-settings: "wght" 100;

    -moz-font-feature-settings: 'ss01' on;
    -ms-font-feature-settings: 'ss01' on;
    -o-font-feature-settings: 'ss01' on;
    -webkit-font-feature-settings: 'ss01' on;
    font-feature-settings: ‘ss01’;
}

#bg {
    display: block;
    position: absolute;
    top: 2.4em;
    left: 0;
    white-space: pre;
    z-index: -9999;
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-family: ThreadsMonoStencil;
    color: inherit;
    background-color: transparent;
}

span#thread {
    display: inline;
    
    -moz-font-feature-settings: "ss01" on;
    -ms-font-feature-settings: "ss01" on;
    -o-font-feature-settings: "ss01" on;
    -webkit-font-feature-settings: "ss01" on;
    font-feature-settings: "ss01" on;


    animation: myAnim infinite; 
    animation-duration: 4s; 
    animation-timing-function: ease; 
    transition: ease-out;
}

div#single-content {
    position: relative;
    display: block;
    margin: 0 2ch 0 0;
    padding:0;
    padding-left:2ch;
    top: calc(1.2em * 2);
    font-family: ThreadsMonoPlain;
}

div#single-content p {
    max-width: 60ch;
}

div#artist-list {
    margin:0 0 0 2ch;
    padding:0;
}

div#artist-details {
    margin: 0;
    padding:0;
    width: 24ch;
    word-wrap: break-word;
}

div#artist-content {
    padding: 0;
    margin: 0;
    font-family: ThreadsMonoPlain;
    margin-right: 2ch;
}

div#header-menu {
    white-space: normal;
    background-color: inherit;
    z-index: 999;
    position: relative;
    left: 2ch;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: ThreadsMonoStencil;
}

#single-content a {
    opacity: 0.7;
}

.active {
    font-variation-settings: "wght" 100;

    -moz-font-feature-settings: "ss01" on;
    -ms-font-feature-settings: "ss01" on;
    -o-font-feature-settings: "ss01" on;
    -webkit-font-feature-settings: "ss01" on;
    font-feature-settings: "ss01" on;

    animation: myAnim infinite; 
    animation-duration: 7s; 
    animation-timing-function: ease; 
    transition: ease-out;    
}

a:hover {
    /* opacity: 1; */
    font-variation-settings: "wght" 100;

    -moz-font-feature-settings: "ss01" on;
    -ms-font-feature-settings: "ss01" on;
    -o-font-feature-settings: "ss01" on;
    -webkit-font-feature-settings: "ss01" on;
    font-feature-settings: "ss01" on;

    animation: myAnim infinite; 
    animation-duration: 4s; 
    animation-timing-function: ease; 
    transition: ease-out;
}

span.intelligence {
    color: #ff6398;
}

span.phenomenon {
    color: #00cc85;
}

span.narration {
    color: #ff6c17;
}

span.network {
    color: #b700f2;
}

span.matter {
    color: #ffdb00;
}

span.embodiment {
    color: #00a4ff;
}

span.surveillance {
    color: #fc1200;
}

@media (max-width: 767px) {
    .timings-padding {
        display: none;
    }

    ul#artist-names li {

        margin-top: 0;
    }
}