{{ define "main" }}
<main role="main">
<ul id = "artist-info">
    <li>
        <div id="artist-details">
            <p class ="section" >{{- .Title -}}</p>
            <p class ="section">{{ range .Params.links }}
                <a href="{{- .url -}}" target="_blank">{{- .name -}}</a><br>
            {{ end }}</p>
            <p class ="section">{{ range .Params.threads }}
                <a href="/about/#about-thread-grid"><span class = {{ lower . }}>{{ upper . }}</a></span><br>
            {{ end }}</p>
        </div>
    </li>
    <li>
        <div id="artist-content">
            <br/>
            <p>{{- .Content -}}</p>
        </div>
    </li>
</ul>

{{ partial "sidebar.html" . }}
</main>
{{ end }}