<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        <noscript>
        <style>
            body {
                display: block;
            }    
        </style>            
        Please enable javascript to enjoy the full functionality of the site.
        </noscript>
        {{- partial "header.html" . -}}
        <div class ="border" id = "border-left"></div>
        <div class ="border" id = "border-right"></div>
        {{- block "main" . }}{{- end }}

        {{ partial "footer.html" . }}

        {{ partial "anim-face.html" . }}

    </body>
</html>
