<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        <noscript>
        <style>
            body {
                display: block;
            }    
        </style>            
        Please enable javascript to enjoy the full functionality of the site.
        </noscript>
        {{- partial "header.html" . -}}
        <div class ="border" id = "border-left"></div>
        <div class ="border" id = "border-right"></div>
        <!-- <div id="content"> -->
        {{- block "main" . }}{{- end }}
        <!-- </div> -->
        {{ partial "footer.html" . }}

        {{ partial "anim-face.html" . }}

        <pre id = "neurons">
            ...         .         -.                                                                       
            .            -    .----.                                                                       
           ..           ..  .:/-.                                                                          
           .            .yyydd+/s+                                                                         
        ........                      .   ..          ./dmNMMN. -oo.                                       
        ...                         ...       ...                ....     .. ......-/ydhhdmNd...-s..  .    
        .                                      ...          ...          .-....:++:../oooM.  +o-..--:      
        ..                                     .:++/.      ..            .///+o/-.      ./M .+/.--.  .     
        ..               -  .            .-::/++d/..-/+/. ...    ....-/osyso/-....        -M//+:+/....     
        .-                -- .  .     .-/+/:/:-+/++ossoshyyyy+o+o:--/ys//-.:.              -N:..-/.   ..   
        -                 .+/::+..-//++:..     -    ......:oys/:+s+o--.....-......        .:M.   .         
        .. .             .smMMMmsoo:..        .             .:::-.- ... ....:...        .. :M.   .         
        ...-.        .:odhhddmd..           .              .     ..     ....   ...  ......yN    .          
        .. .-- .:--+::yh..:++y+                            .               ..         .  .hh     .         
        ..-:   ./s:-:--od.     -s+.  .                     ..                 ..   ....    .yy     .       
        .---..s-:::+/ydso++.       .+o.   .                                        ...        .om.    .    
        -.....-.-.-od+.              :os:..                .                       :          ..ds.   .   .
        --... ..-/yy.                 .y//-    .           .                       ..        .  :+y+:::-::-
        osoossss+/.-. .                .yo--....          ..                      ..      ..    . .-/++:-. 
        ..-.....--                   -d:-//::          -                      .       .      ...   .       
        .-    .-                     :s-..::         .-. .                 .         .        .. .         
        -    ..                       :y/:.....     .:-   .              .          .          .           
        ..    .-        ..             ./:/+/...-.  --.    ...          .            .          ...        
        ..      ..       .              +.   -ss:.-::: .  ...           .             .            ...     
        ...        .-      .   .........  ::   ..:o+//+s... .  .        .              .               -   
        ..         -.    .....+y/--:-.-:/......  .:o..:/+....       .               .                ..    
        .         ..    .. +o+.    ...   .  .....+.   +:         ..              .                 ..      
        ..        ..   -. s./-. ....    .  .. .+.     s        ...         .                .     -        
        ....     .-...  .o..::-::o:  ..... ./.    . o.  .    . .   .    .               .      ..          
        ...... - -  /:.--....:-- .    ../      ..+...   .  ........-...            .       -               
        .   :-  o/+/-:-/o+///-////+h....--..+md/::.. .//o+/--:/:  .        ....       ..                   
        .        .    ./  ..+mdhso/+/.::.  .:o+    ...-dms+.:++ods+++s/-::/-. .  ...   .       ..          
        ...     .  . .+.. :mMmN:.--.y-.......+---..-..:.-.    ::.    .:-//oso--...    .      .             
        .--.--.-/::.  . ../+ss+ohmddM-..-os-...... :..  .  .. -:....-- ...      ../o/-   .. .   ...  ......
        -..     ./oy+/:oyho-..:. ./dN-....-.::/-.   .   ...   :.-.   /    ..      ..-++:+. ...    . .. ..   
        ....... .://///osoyyyo+::/hs .   ....      ...-     .-    .:      ..    ..../hms+/:/:-.-+/...-...  
        ..-.-:..--//./----:/hs+..   ...               .    /              ...:ymsooo++o++shs-..  ..        
        ..o..    ..      .y-+s/oo/+/o/sdds.        .   .:                .:yy+++oo+-:-:/.:.....            
        .               -s:-..   ./hNMMMh:.      ..../.            .--/++//yy:-::/:/:...:...               
        ..-+/+h///////::shNN-.-/:..---:/:o..          :hmN:-.....s.  ... ... .                             
        .-:+...s-  ..... ..h+.....//. ....-s::::------:+.ss-. ..  /h+.    .-                               
        ....s.   -o      ..  ++      .+::-...o.    ...... .-.-::-.  :ds/-.   . .                           
        ...  o: .  :o        ..+s...    ....-::+o:.....     /  . .::--/.  ..:. ...                         
        ...    y. .. s:  .       /o.-    .     ...::/:-.....  /.....  -y:     ..:...                       
        ....      +o.  .h.   .     .:s...         .  .. .::-....../..   -++:       .//.                    
        .... .      .s/ .o/.....    ..-h- ..        .      ....  ..:..  .:+.-/-.      .:o...               
        ...     ..     ./o+h    .:.  ... /s   .....    .      .......-.. ..o. . .:...    .-+-.             
        ...            ..-..yy:. ......-.  .h-    .........       .....-... +.....  .. ... . .-:-.         
        ..                .  o/:/ss::.:-..  ..s+.         .....      .-..    o  . ..   ..  ..    .:        
        ..                 ..:yh+//oo+-....     :s:           .... ...  .  .  s. ..  .    .   ..           
        .                  -o/:h..-.:-           .y/       ..-......   ..  .. o.. ..       ..   .          
        .                  .y. .oo/:-:.      ...   .+s-..... .  ...  ...    .  /..  .         ..           
        -                  -oo. .h---.-.   ..        :sy+.   -..  ..        . ..+.               ..        
        -                 .:.-/:..s+. -......         :./ho/-.:.. ...       ..- .:.                        
        -                .--.     .:-.....            :   :y/-/...-./    ... -  ....                       
        .                -..    .......               ..   .d++ ..-::.-..-...-..                           
        .                . .     .                     :  ...h/              .                             
        .                ...     .                     ::..  -d               .                            
        .                .                            -o.    m.               .                            
        .                             .:    yo.                                                            
        .                              :    +s..                                                           
        </pre>
    </body>
</html>
