<div class = "ascii header" id = "header">
<div id="header-text"><a href="{{- .Site.BaseURL -}}">So, How Is <span id = "thread">That</span><span id="working-for-you">             Working For You?</span></a></div>
</div>
<div id="header-menu">
{{ $currentPage := . }}
{{ $menu := .Site.Menus.main}}
{{- range $elem_index, $elem_val := $menu -}}
    <a href="{{- .URL -}}"
    {{- if eq .Name "invert" -}}onClick="invertColours()"{{- end -}}
    {{- if hasPrefix $currentPage.URL .URL -}}class="active"{{- end -}}>
    {{- upper .Name -}}</a>{{ if ne $elem_index (sub (len $menu) 1) }} | {{ end }}
{{- end -}}
</div>
